<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">Angular-Adv</a>
    </div>
    <ul class="nav navbar-nav">
      <li routerLinkActive="active current"><a routerLink="/customer">Customer</a></li>
      <li routerLinkActive="active current"><a routerLink="/sale">Sale</a></li>
      <li routerLinkActive="active current"><a routerLink="/manufacturer">Manufacturer</a></li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>